.starships {
  padding: 25px;
  width: 1000px;

  &__container {
    display: flex;
    justify-content: center;
  }
}

.search {

  &__field {
    width: 500px;
  }
}

.table {
  width: 500px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
